/* Clients */
.clients__logo {
    margin: -15px;
    @media (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.clients__item {
    margin: 15px;
    height: 92px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: $grey-icon-color;
    border: 1px solid $grey-icon-color;
    border-radius: 4px;
    transition: border-color 250ms $cubic-bezier;
    @media (min-width: 480px) {
        width: 210px;
    }
    @media (min-width: 768px) {
        width: 226px;
    }
    @media (min-width: 1200px) {
        width: 170px;
    }
}
.clients__link {
    .icon {
        transition: fill 250ms $cubic-bezier;
    }
}

.clients__link {
    &:hover,
    &:focus {
        border-color: $blue-color;
        .icon {
            fill: $blue-color;
        }
    }
}
.clients__item {
    .icon {
        fill: currentColor;
    }
}
