body {
    font-size: 14px;
    line-height: 1.14;
    background-color: $primary-white-color;
    color: $primary-title-color;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.link--active {
    color: $blue-color;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.button--primary {
    min-width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;

    border: 1px solid transparent;
    border-radius: 4px;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms $cubic-bezier;
}
.button--primary {
    &:hover {
        background-color: $blue-color-hover;
    }
    &:focus {
        background-color: $blue-color-hover;
    }
}