/* Features */
.features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}
.features__item {
    width: 270px;
    margin: 20px;
}
.features__icon {
    padding: 25px 100px;
    margin-bottom: 30px;

    background-color: $secondary-bg-color;
}
.features__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}
.features__text {
    line-height: 1.71;
    color: $primary-text-color;
}

.section__title {
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
    text-align: center;
}