/* Header */
.header {
    position: relative;

    &.header__portfolio {
        border-bottom: 1px solid #ececec;
    }

    &__nav {
        display: flex;
        align-items: center;
        @include mq(mobile-only) {
            padding: 16px 0;
        }
        @include mq(tablet) {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        @include mq(desktop) {
            margin-right: 93px;
        }
    }

    &__list {
        @include mq(tablet) {
            display: flex;
            align-items: center;
            margin: 0 -25px;
            margin-right: 84px;
        }
    }

    &.header__link {
        transition: color 250ms $cubic-bezier;
        letter-spacing: 0.02em;
        &:hover,
        &:focus {
            color: $blue-color;

            .header__icon {
                fill: $blue-color;
            }
        }
    }

    &__item {
        @include mq(mobile-only) {
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
        .header__link {
            @media (min-width: 768px) {
                padding: 32px 0;
                &.link--active {
                    &::after {
                        position: absolute;
                        bottom: 0;
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 4px;

                        border-radius: 2px;
                        background-color: $blue-color;
                    }
                }
            }
        }
    }
}

.nav__header {
    @include mq(mobile-only) {
        display: none;
        font-weight: 500;
        padding: 48px 0 48px 40px;
        height: 100vh;

        background: #ffffff;
        left: 0;
        z-index: 1;
        width: 100%;

        &__header--list:last-child {
            margin-top: auto;
        }
    }
    @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    @include mq(desktop) {
        width: 100%;
        justify-content: space-between;
    }
}

.contact__list {
    @include mq(mobile-only) {
        margin-bottom: 64px;
    }
    @include mq(desktop) {
        display: flex;
    }
}

.contact__item {
    color: $primary-text-color;
    @include mq(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    @include mq(desktop) {
        &:nth-child(2) {
            margin-right: 30px;
        }
    }
}

.contact__item .header__link.link--active {
    &:hover,
    &:focus {
        color: $blue-color;

        .header__icon {
            fill: $blue-color;
        }
    }
    @include mq(mobile-only) {
        margin-bottom: 32px;

        color: $blue-color;

        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
    @include mq(tablet) {
        color: inherit;
    }
    @include mq(desktop) {
        margin-bottom: 0;
    }
}
.contact__item .header__link {
    @include mq(mobile-only) {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }
    @include mq(tablet) {
        font-size: 12px;
        letter-spacing: 0.02em;
    }
    @include mq(desktop) {
        font-size: 14px;
    }
}

.header__icon {
    @include mq(mobile-only) {
        display: none;
    }
}

.header__social {
    display: flex;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: $blue-color;
    @include mq(tablet) {
        display: none;
    }

    li {
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            padding-right: 10px;
        }
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        &:last-child {
            border-right: none;
        }
    }
}

.nav__header--list {
    .link__soc {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            padding-right: 10px;
        }
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        &:last-child {
            border-right: none;
        }
    }
    @include mq(tablet) {
        display: flex;
    }
}

.contact__item--soc {
    @include mq(tablet) {
        display: none;
    }
}

.nav__header--list-tel {
    @include mq(tablet) {
        .contact__item:first-child {
            order: 1;
        }
        .contact__item:nth-child(2) {
            margin-bottom: 10px;

            @include mq(desktop) {
                margin-bottom: 0;
            }
        }
    }
    @include mq(not-desktop) {
        display: flex;
        flex-direction: column;
    }
}
