/* Header */
.header__portfolio {
    border-bottom: 1px solid #ececec;
}

.header__flex {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.62;
}

.logo {
    span {
        color: $blue-color;
    }
}

.header__list {
    display: flex;
    margin: 0 -25px;
}
.link--active {
    &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
    
        border-radius: 2px;
        background-color: $blue-color;
    }
}

.header__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32px 0;

    font-weight: 500;

    transition: color 250ms $cubic-bezier;
    &:hover,
    &:focus {
        color: $blue-color;

        .header__icon {
            fill: $blue-color;
        }
    }
}

.header__item {
    margin: 0 25px;
}


.contact__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__icon {
    margin-right: 10px;
    fill: $primary-text-color;

    transition: fill 250ms $cubic-bezier;
}

.contact__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}