/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $cubic-bezier;
}
.backdrop {
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        .modal {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 528px;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $primary-white-color;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic-bezier;
}
.close__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms $cubic-bezier;
    &:hover,
    &:focus {
        fill: $blue-color;
    }
}
.modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}
.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form__comment {
    margin-bottom: 20px;
    height: 120px;
}
.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $primary-text-color;
}
.form__block {
    position: relative;
}
.form__input {
    width: 100%;
    padding: 12px 35px;

    transition: border 250ms $cubic-bezier;
}

.form__input,
.form__comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
}

.form__input,
.form__comment {
    &:focus {
        border: 1px solid $blue-color;
        outline: none;
    }
}
.form__input:focus + .form__icon {
    fill: $blue-color;
}
.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $cubic-bezier;
}
.form__comment {
    padding: 12px 16px;
}

.checkbox__field {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 9px;

    border: 2px solid $primary-title-color;
    border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
    border-color: transparent;
    background-color: $blue-color;
    background-image: url("../images/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__label {
    font-size: 14px;
    line-height: 1.71;
}
.checkbox__label { 
    a {
        color: $blue-color;
        text-decoration: underline;
    }
}