$primary-title-color: #212121;
$primary-text-color: #757575;
$blue-color: #2196f3;
$blue-color-hover: #188CE8;
$primary-white-color: #ffffff;
$bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$grey-icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);